* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: #a5c926;
  color: #ffffff;
}

.info h6 {
  font-size: 12px;
  padding: 10px;
}

.info a {
  color: white;
  padding: 3px;
}

.display_row {
  display: flex;
  flex-direction: row;
}

.display_row a {
  color: white;
  text-decoration: none;
}

.display_row a:hover {
  color: red;
  text-decoration: none;
}

.nav_bar {
  border-bottom: 2px solid gray;
  box-shadow: 2px 2px 3px rgb(194, 194, 194);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav_bar nav {
  display: flex;
  align-items: center;
}

.nav_bar nav ul {
  display: flex;
  list-style-type: none;
}

.nav_bar a {
  text-decoration: none;
  color: black;
  padding-left: 15px;
}

.cart h6 {
  padding: 5px;
}

/* image hero */

.image_hero {
  position: relative;
}

.image_hero img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.hero_text {
  background-color: rgb(255, 255, 255);
  padding: 35px;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 40%;
  width: 360px;
}
